* {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #1a1a1a;
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    'header'
    'nav'
    'content'
    'footer';
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
}

header {
  grid-area: header;
  background-color: black;
  padding: 1rem 0;
  text-align: center;
}

nav {
  grid-area: nav;
  background-color: #0d0d0d;
}

footer {
  grid-area: footer;
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
}

article {
  grid-area: content;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

h4 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: blue;
}

img {
  margin: 1rem;
  max-width: 90%;
}

.cvitem {
  display: grid;
  grid-template-areas: 'summary details';
  grid-template-columns: 'auto 1fr';
  list-style-type: none;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 1rem 0;
}

.centertext {
  text-align: center;
}

.navlist {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.navlist > li > a {
  display: block;
  padding: 1rem;
}

.references {
  margin-top: 5rem;
}

@media screen and (max-width: 719px) {
  .cvitem {
    display: block;
  }
}

@media print {
  * {
    background-color: white;
    color: black;
  }

  nav {
    display: none;
  }
}
